include mixins/button

doctype html
html(lang='en')
  body  
   table(style='width:100%' border='1')     
      tr
        th NAME
        th AGE
        th CITY
        th STATE
        th EMAIL

     +button()    
      


  
