mixin button()
 form(action="/users" method="POST" class="card")
    br
    br
   input(type="submit" value="addUser" class="button")
    br
    br
    input(type="submit" value="deleteUser" class="button")